TEAM_ID=AGKEJ4BCXM

PRODUCT_NAME=JourneyPal Pro
PRODUCT_BUNDLE_IDENTIFIER=com.mobileinvalley.journeypal.pro$(TEAM_ID)

CURRENT_PROJECT_VERSION=6
MARKETING_VERSION=1.0.3

FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../shared/build/xcode-frameworks/$(CONFIGURATION)/**"
OTHER_LDFLAGS = $(inherited) -framework Shared