<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>JourneyPal needs your location to tag your journey photos on the map.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>JourneyPal accesses your photos to display them on your activity timeline.</string>
	<key>NSCameraUsageDescription</key>
	<string>JourneyPal uses the camera to capture photos for your timeline.</string>
</dict>
</plist>